<div class="container">
	<div class="row">
		<div class="col-md-8 mx-auto">
			<%= form_for @user do |f| %>
                <p><%= f.text_field :username, class: 'form-control' %></p>
                <p><%= f.email_field :email, class: 'form-control' %></p>
                <%= f.submit class: 'btn btn-success' %>
			<% end %>
		</div>
	</div>
</div>